@use "../../styles/mixins" as m;

.nav_container {
    @include m.transition();
    @include m.flex();
    @include m.shadow();
    background: rgb(255, 255, 255, 0.39);
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding-inline: 2rem;
    border-bottom: 2px solid black;
    z-index: 50;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8.5px);

    :first-child {
        @include m.flex(1rem);
        align-items: center;
    }
}

.logout {
    @include m.base-btn(1.3em);
}