@mixin grid($gap: 0rem, $col: 1) {
    display: grid;
    gap: $gap;
    grid-template-columns: repeat($col, 1fr);
}

@mixin flex($gap: 0rem) {
    display: flex;
    gap: $gap;
}

@mixin flex-col($gap: 0rem) {
    display: flex;
    gap: $gap;
    flex-direction: column;
}

@mixin base-btn($fontSize: 1em) {
    @include transition();
    font-size: $fontSize;
    border: 0;
    padding: .5rem 1rem;
    cursor: pointer;
    background: none;
    color: black;

    &:hover {
        background-color: black;
        color: white;
    }
}

@mixin base-input($width: 12rem) {
    @include transition();
    font-size: 1em;
    border: 0;
    border-bottom: 1px solid black;
    padding: .5rem;
    width: $width;
    background: none;

    &:focus {
        outline: none;
        border: 1px solid black;
        background-color: white;
    }
}

@mixin transition {
    transition: all ease-in 0.3s;
}

@mixin shadow {
    box-shadow: 0px 10px 55px 21px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 10px 55px 21px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 10px 55px 21px rgba(0, 0, 0, 0.06);
}